<div class="container container-margin-top">
  <div class="row wrap-content">
    <div class="col-md-4 col-sm-5">
      <div class="row">
        <div class="col-md-12 col-sm-12 logo-dec">
          <img
            src="/assets/images/dec-logo-color.svg"
            alt="dec"
            class="img-logo-dec"
          />
        </div>
        <div class="col-md-12 col-sm-12 text-page-not-found mb-1">
          Página No <br />
          Encontrada
        </div>
        <div class="col-md-12 col-sm-12 text-back-home">
          Navegar de vuelta a casa
        </div>
        <div class="col-md-12 col-sm-12 img-barco-mobile mb-4">
          <img src="/assets/images/barco.svg" alt="dec" class="barco" />
        </div>
        <div class="col-md-12 col-sm-12 error-404">Error 404</div>
        <div class="col-md-12 col-sm-12 btn-inicio">
          <button class="btn btn-secondary background_turquoise" type="button">
            Inicio
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-7 img-barco-web">
      <img
        src="/assets/images/barco.svg"
        alt="dec"
        class="pt-5"
        class="barco"
      />
    </div>
  </div>
</div>
