@import '../../../../../src/assets/styles/styles.scss';

.container-margin-top {
  .wrap-content {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Style for "Página No" */
    .text-page-not-found {
      font-family: 'Gill Sans MT';
      font-size: 70px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 75px;
      text-align: left;
      color: $blue-stupendo;
      @media (max-width: $md) {
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 35px;
        text-align: center;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 1rem;
        padding-bottom: 0;
      }
      @media (max-width: $sm) {
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 35px;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 0;
      }
    }
    /* Style for "Inicio" */
    button {
      width: 212px;
      height: 48px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
      border-radius: 24px;
      font-family: 'Gill Sans MT';
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      display: block;
      color: #ffffff;
      border: none;
      background-color: $turquoise-stupendo;
      padding: 0;
      @media (max-width: $md) {
        width: 120px;
        height: 28px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
        border-radius: 14px;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
      }
      @media (max-width: $sm) {
        width: 120px;
        height: 28px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
        border-radius: 14px;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
      }
    }
    button:hover,
    button:focus,
    button:active {
      background-color: $turquoise-stupendo;
      border: none;
      outline: none;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
    }
    .btn-inicio {
      @media (max-width: $md) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media (max-width: $sm) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    /* Style for "Navegar de" */
    .text-back-home {
      color: #707070;
      font-family: 'Gill Sans MT';
      font-size: 25px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 25px;
      text-align: left;
      margin-bottom: 3rem !important;
      margin-top: 1rem !important;
      @media (max-width: $md) {
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 25px;
        text-align: center;
        margin-bottom: 2rem !important;
        margin-top: 0.4rem !important;
      }
      @media (max-width: $sm) {
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 25px;
        text-align: center;
        margin-bottom: 1.5rem !important;
        margin-top: 0.2rem !important;
      }
    }
    /* Style for "Error 404" */
    .error-404 {
      color: #707070;
      font-family: 'Gill Sans MT';
      font-size: 50px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      margin-bottom: 1.5rem !important;
      @media (max-width: $md) {
        display: none;
      }
      @media (max-width: $sm) {
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        display: block;
        margin-bottom: 1.2rem !important;
        margin-top: 0.5rem !important;
      }
    }
    /* Style for "logo DEC" */
    .img-logo-dec {
      width: 240px;
      height: 93px;
      @media (max-width: $md) {
        width: 130px;
        height: 51px;
      }
      @media (max-width: $sm) {
        width: 130px;
        height: 51px;
      }
    }
    .logo-dec {
      margin-bottom: 1.5rem;
      @media (max-width: $md) {
        text-align: center;
        margin: 0;
      }
      @media (max-width: $sm) {
        text-align: center;
        margin: 0;
      }
    }
    /* Style for "Barquito" */
    .barco {
      width: 611px;
      height: 298px;
      @media (max-width: $md) {
        width: 269px !important;
        height: 132px !important;
      }
      @media (max-width: $sm) {
        width: 235px !important;
        height: 114px !important;
      }
    }
    .img-barco-web {
      @media (max-width: $sm) {
        display: none;
      }
      img {
        margin: 0 auto;
        display: block;
      }
    }
    .img-barco-mobile {
      display: none;
      @media (max-width: $sm) {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }
    }
  }
}
