<div class="container container-margin-top">
  <div class="row wrap-content">
    <div class="col-md-5 col-sm-6">
      <div class="row">
        <div class="col-md-12 col-sm-12 logo-dec">
          <img
            src="/assets/images/dec-logo-color.svg"
            alt="dec"
            class="img-logo-dec"
          />
        </div>
        <div class="col-md-12 col-sm-12 text-went-wrong">
          Oh! Algo <br />
          Salió Mal
        </div>
        <div class="col-md-12 col-sm-12 text-other-folder mt-1">
          Revisemos otra carpeta, <br />está ya no esta disponible.
        </div>
        <div class="col-md-12 col-sm-12 img-folder-mobile mb-1">
          <img src="/assets/images/carpeta.svg" alt="dec" class="folder" />
        </div>
        <div class="col-md-12 col-sm-12 error-500">Error 500</div>
        <div class="col-md-12 col-sm-12 btn-inicio">
          <button class="btn btn-secondary background_turquoise" type="button">
            Inicio
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 my-5 img-folder-web">
      <img
        src="/assets/images/carpeta.svg"
        alt="dec"
        class="pt-5"
        class="folder"
      />
    </div>
  </div>
</div>
