<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid mx-2 footer-dec-web">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/dec-logo-color.svg" alt="dec" width="100"/>
    </a>
    <div class="d-flex">
      <label><small class="text-terminos-condiciones">Términos y Condiciones | Copyright &copy; 2020 Stupendo</small></label>
    </div>
  </div>
  <div class="container-fluid mx-2 footer-dec-mobile">
    <div class="row text-center">
      <label><small class="text-terminos-condiciones">Términos y Condiciones | Copyright &copy; 2020 Stupendo</small></label>
    </div>
    <div class="row my-2 text-center">
      <img src="/assets/images/dec-logo-color.svg" alt="dec" height="40"/>
    </div>
  </div>
</nav>
